<div class="w-full h-full flex justify-center items-center">
  <section class="flex flex-row bg-gray-400 p-2 gap-2 rounded-3xl md:flex-col md:justify-center md:items-center">
    <div class="flex items-center flex-col p-5 w-96 gap-3 md:justify-center md:items-center">
      <h1 class="text-3xl uppercase">joams mogro gomez</h1>
      <h3 class="text-xl">Desarrollador Frontend y Backend</h3>
      <p class="text-justify">
        Aficionado a nuevas tecnologías para desarrollo web, en busca de
        conocimiento para la aplicación en nuevos y actuales proyectos en el
        area de desarrollo.
      </p>
      <p class="text-justify">
        Desarrollador Full Stack con experiencia de 2 años en tecnologías como
        Angular en el Frontend y en el lado del backend con Nodejs y Nestjs, con
        conocimiento en PostgreSQL para la realización de las consultas
        necesarias durante el desarrollo.
      </p>
      <p class="text-justify">
        Con adaptabilidad a las necesidades de una empresa o equipo para
        cualquier tipo de desarrollo.
      </p>
    </div>
    <div class="flex justify-center items-center">
      <img src="./assets/images/laptop.jpeg" alt="sin image" class="h-96 rounded-3xl" />
    </div>
  </section>
</div>
